<%- include ('partials/header.ejs'); -%>
    <div class="table-wrapper">
        <% if (herramienta.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID de Herramienta</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Ubicacion</th>
                    </tr>
                </thead>
                <tbody>
                    <% herramienta.forEach((herramientas, index) => { %>
                        <tr>
                            <th scope="row"><%= herramientas.id_herramienta %></th>
                            <td><%= herramientas.descripcion %></td>
                            <td><%= herramientas.cantidad %></td>
                            <th scope="row"><%= herramientas.ubicacion %></th>
                            <td>
                                <a href="/editHerramienta/<%= herramientas.id_herramienta %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/deleteHerramienta/<%= herramientas.id_herramienta %>" class="btn btn-sm btn-danger">Baja</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No hay altas de herramienta. Click <a href="/addHerramienta" >aquí</a> para agregar altas</p>
        <% } %>
    </div>
</div>
</body>
</html>